config:
  springProfilesActive: prod
  jpa:
    showSql: "false"
  graphql:
    graphiqlEnabled: "true"  
  management:
    endpointsInclude: "health,prometheus,info,metrics"
  
  logging:
    levelRoot: "WARN"
    levelApp: "INFO"
    levelSpringWeb: "WARN"